/* html {
    height: 100%;
    width: 100%;
  } */
  
body {
  background-color: #100f0f;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* height: 100vh; */
    /* width: 100vw; */
  }

.form_detail {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin: 6px;
  }
input{
  border: none;
}
.form_detail label {
  font-size: 1rem;
  font-weight: bold;
  padding: 2px;
  }

.form_detail input {
    width: 15rem;
    font-size: .6rem;
    outline: none;
    border-radius: 5px;
    padding: .2rem;
  }

#btn {
  width: 3rem;
  cursor: pointer;
  font-size: .6rem;
  border: none;
  padding: 2px;
  border-radius: 4px;
  background-color:#335b33 ;
  color: white;
  }

#btn:hover {
    color: #335b33;
    background-color: white;
  }

.table {
    margin-top: 1rem;
  }

.t_head {
  padding: 0.4rem;
  width: 6rem;
  font-size: .8rem;
  }

.table_head {
    background-color: black;
  }

tbody tr td{
  padding: .4rem;
  padding: .4rem;
  font-size: .7rem;
  }

#table_body {
    background-color: #1e1a1a;
  }

#action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  }

#table_body .edit_btn {
    background-color: #c4c417;
  }

#table_body .delete_btn{
    background-color: #a20101;
  }

#table_body button{
  border: none;
  color: white;
  padding: .2rem .4rem;
  border-radius: .4rem;
  font-size: .6rem;
  margin: .1rem;
  }

#table_body button:hover {
    cursor: pointer;
    color: #161313;
  }